<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>

<h2>{{ album.artist }}</h2>

{#<ul>#}
{#    {% for item in album.song_set.all %}#}
{#        <li>{{item.song_title}}</li>#}
{#    {% endfor %}#}
{#</ul>#}

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="POST">
    {% csrf_token %}
    {% for song in Album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
        <label for = "song{{ forloop.counter }}">
            {{ song.song_title }}

            {% if song.is_favorite %}
                <img src="http://chittagongit.com//images/small-star-icon/small-star-icon-11.jpg"/>
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite" />

</form>